.mainContainer {
  background-color: var(--accentColor);
  border-radius: 4px;
  margin: 20px;
  height: 600px;
  /* background-color: black; */
  padding: 20px;
}

.mainHeading {
  font-size: var(--bodyMed);
  font-family: "Times New Roman", Times, serif;
}
